body {
    background: white;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;  /* horizontal center */
    justify-content: flex-start; /* vertical alignment from top */
    
}

.logo {
    width: 80vw;
    margin-top: 100px;
}

.gamebox-container {
    position: relative; /* allows colors to be positioned inside */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.box {
    width: 60vw;
    max-width: 300px;
    display: block;
    z-index: 99;
}

.colors {
    position: absolute; /* position on top of box */
    top: 60%;           /* adjust to vertically center inside box */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 7px;
    z-index: 0;
}

.target, .user-set {
    width: 21vw;
    height: 7vh;
    margin-top: -50px;
}

h1 {
    font-size: 4vw;
    text-align: center;
    color: hotpink;
}



.slider-bg {
    background-image: url("./assets/satBar.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 100vw;
    height: 13vh;
    display: flex;
    align-items: center; /* centers the input vertically */
    justify-content: center; /* optional, centers horizontally */
}






.sat {
    margin-top: 20px;
    transform: rotateX(180deg) rotateY(180deg);
}

.hue-range {
    -webkit-appearance: none;  /* remove default styles */
    position: relative;
    top: 29%;
    left: 2%;
    width: 40vw;
    height: 1.1vh;
    border-radius: 10px;
    background: linear-gradient(to right, 
        red, orange, yellow, green, cyan, blue, violet, red
    );
    outline: none;  /* remove outline when focused */
    touch-action: none;
}

.sat-range {
    touch-action: none;
    -webkit-appearance: none;
    position: relative;
    top: 29%;
    left: 2%;
    width: 40vw;
    height: 1.1vh;
    border-radius: 10px;
    outline: none;
    background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(0, 0%, 100%)); /* placeholder gradient */
}
