body {
    background: white;
    color: white;
    font-family: Arial;
}

.colors {
    display: flex;
    gap: 20px;
    margin-top: -140px; 
    justify-content: center;
}

.target, .user-set {
    width: 90px;
    height: 90px;
    border-radius: 12px;
    border: 2px solid #000;
}

.controls {
    margin-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.slider-wrapper {
    position: relative;
    width: 250px;
    height: 40px;
    cursor: pointer;
}

.slider-bg {
    width: 100%;
    height: auto;
}

.slider-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    pointer-events: none;
    background: rgba(255,255,255,0.4);
    border-radius: 6px;
}

#hue-slider .slider-bg {
    background: linear-gradient(to right,
        hsl(0, 100%, 50%),
        hsl(60, 100%, 50%),
        hsl(120, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(360, 100%, 50%)
    );
    border-radius: 8px;
}


#sat-slider .slider-bg {
    border-radius: 8px;
    background: linear-gradient(to right,
        hsl(0, 0%, 50%),
        hsl(0, 100%, 50%)
    );
}
