body {
    background: white;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;  /* horizontal center */
    justify-content: flex-start; /* vertical alignment from top */
    
}

.logo {
    width: 80vw;
    margin-top: 100px;
}

.gamebox-container {
    position: relative; /* allows colors to be positioned inside */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.box {
    width: 60vw;
    max-width: 300px;
    display: block;
    z-index: 99;
}

.colors {
    position: absolute; /* position on top of box */
    top: 60%;           /* adjust to vertically center inside box */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 7px;
    z-index: 0;
}

.target, .user-set {
    width: 21vw;
    height: 7vh;
    margin-top: -50px;
}

h1 {
    font-size: 4vw;
    text-align: center;
    color: hotpink;
}

.slider-container {
    position: relative;  /* makes input position relative to container */
}



.slider-bg {
    width: 70vw;
    height: 10vh;
    display: block;
}

.slider-container input[type="range"] {
    position: absolute;  /* overlay on top of the image */
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    
    background: transparent;  /* keep image visible */
    cursor: pointer;
}

/* style the thumb */
.slider-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 24px;
    background: white;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: -4px; /* center thumb vertically */
}



.sat {
    transform: rotateX(180deg);
}


.hue-range {
    position: absolute;
    top: 60.5%;
}