  
  * {
    user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;              /* prevent scrolling */
    touch-action: none;            /* block touch gestures */
    overscroll-behavior: none;     /* block iOS/Android bounce */
    
    user-select: none;             /* block text selection */
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;   /* block long-press menu */
}



body {
    background: white;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;  /* horizontal center */
    justify-content: flex-start; /* vertical alignment from top */
    
}

.logo {
    width: clamp(40vw, 70vw, 70vw);
    margin-top: 50px;
}

.gamebox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.box {
    width: clamp(150px, 55vw, 300px);
    display: block;
    z-index: 99;



}

.colors {
    display: flex;
    gap: 7px;

    position: absolute;
    top: 37%;
}

.target, .user-set {
    
    width: clamp(30px, 19vw, 150px);
    height: clamp(20px, 7.05vh, 70px)
}

.text {
    width: 33vw;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 20px;
}



.slider-bg {
    background-image: url("./assets/satBar.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: clamp(40vw, 58vw, 60vw);
    height: 13vh;
    display: flex;
    align-items: center; /* centers the input vertically */
    justify-content: center; /* optional, centers horizontally */

    position: relative;
    left: -3%;
}






.sat{
    margin-top: 20px;
    transform: rotateX(180deg) rotateY(180deg);
    left: 3%;
}

.hue-range {
    -webkit-appearance: none;  /* remove default styles */
    position: relative;
    width: clamp(100px, 35vw, 150px);
    height: 1.1vh;
    border-radius: 10px;
    background: linear-gradient(to right, 
        red, orange, yellow, green, cyan, blue, violet, red
    );
    outline: none;  /* remove outline when focused */
    touch-action: none;

    position: absolute;
    top: 70%;
    left: 22%;
}

.sat-range {
    touch-action: none;
    -webkit-appearance: none;
    position: relative;
    width: clamp(20vw, 35vw, 150px);
    height: 1.1vh;
    border-radius: 10px;
    outline: none;
    background: linear-gradient(to right, hsl(0, 3%, 79%),  hsl(0, 100%, 50%)); /* placeholder gradient */
    transform: scaleX(-1); /* unflip the slider logic */

    position: absolute;
    top: 70%;
    left: 23%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vw;
    height: 1.8vh;
    background: hotpink;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
}


/* Animation 1 video full-screen */
#video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: black;
    justify-content: center;
    align-items: center;
}
  


/* ------------------------------------------ DESKTOP ------------------------------------------------------- */
@media (min-width: 768px) {
    .logo {
        width: 30vw;
        margin-top: 10px;
    }

  
    .gamebox-container {
        margin-top: 40px;

    }

    .box {
        width: 20vw
    }

        
    .colors {
        display: flex;
        gap: 7px;

        position: absolute;
        top: 34%;
    }

    .target, .user-set {
        width: 7.4vw;
        height: 10.8vh;
    }

    .text {
        width: 10vw;
    }

    .slider-bg {
        width: 40vw;
        height: 15vh;
        
        position: relative;
        left: -3%;
}






    .sat{
        margin-top: 20px;
        left: 1%;
    }

    .hue-range {
        width: 10vw;
        height: 1.3vh;
        border-radius: 40px;

        top: 73%;
        left: 39%;
    }

    .sat-range {
        width: 10vw;
        height: 1.3vh;
        border-radius: 40px;

        top: 73%;
        left: 39.5%;
    }

    input[type="range"]::-webkit-slider-thumb {

        width: 1vw;
        height: 1.8vh;
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid white;
}

}

