.colors {
    position: absolute;
    top: 60px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.target, .user-set {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.slider-wrapper {
    position: relative;
    width: 300px; 
    height: 40px;
}

.slider-wrapper img {
    width: 100%;
    height: 100%;
}

.slider-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%; /* starting point */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    pointer-events: none;
}
